// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
width:800px;
margin-left:auto;
margin-right:auto;
}

.comment{
color:blue;
border:solid 1px;
}