Enter your passphrase
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= form_tag :controller => "comments", :action => "passphrase" %>
<%= text_field_tag "passphrase" %>
<%= submit_tag "Go!" ,:method => :post %>
